/* Global Variables */
:root {
    --color1: #5A537B;
    --color2: #273549;
    --top-background-color: #6943FF;
    --bottom-background-color: #1F2937;
}

body {
    margin: 0;
    padding: 0;
}

#main-container {
    background-color: aqua;
    width: 700px;
    margin: 350px auto;
    text-align: center;
}